h2, h3 {
  margin-top: 0;
}

select {
  width: 265px;
}

body {
  background-color: rgb(245, 239, 233);
}

.header {
  border: .35px solid rgb(66, 65, 65);
  background: rgb(24, 134, 202);
  border-radius: 8px;
}

.header > h3 {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  vertical-align: top;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}

.interval-updates-container {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
}

.interval-list-container {
  
}

.interval {
  border: 2px solid black;
  margin-bottom: 0.25rem;
}

.analysis-container {
  
}

.analysis-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}

#chart {
  height: 300px;
  grid-column: 1 / span 3;
}

.feedback {
  grid-column: 1 / span 4;
}

.issue-selector-container, .issue-progress-container {
  
}

.issue-in-progress-entry {
  border: 2px solid black;
  margin: 5px;
}

.historical-trends {
  grid-column: 3 / span 2;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  float: right;
  background-color: rgb(245, 239, 233);
  border: none;
  color: rgb(66, 65, 65);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  border: .25px solid rgb(66, 65, 65);
  display:inline-block;
  margin-right: 15px;
  margin-top: 12px;
}

.header-title {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(245, 239, 233);
  display:inline-block;
  padding-top: 5px;
  margin-left: 15px;
}

.logo {
  border-radius: 8px;
  border: .25px solid rgb(66, 65, 65);
  display:inline-block;
  margin-left: 15px;
  margin-top: 6px;
}