h2 {
  font-family: 'Mukta', sans-serif;
  margin-top: 0;
}

h3 {
  font-family: 'Mukta', sans-serif;
  margin-top: 0;
  font-size: 30px;
}

select {
  width: 265px;
}

body {
  background-color: rgb(250, 248, 245);
}

.header {
  border: 0.35px solid rgb(66, 65, 65);
  background: rgb(24, 134, 202);
  border-radius: 8px;
}

.header > h3 {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  vertical-align: top;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}

.interval-updates-container {
  font-family: 'Hind', sans-serif;
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
  margin-top:10px;
}

.interval-list-container {
  font-family: 'Hind', sans-serif;
  margin-top: 0px;
}

.interval {
  border: 2px solid black;
  margin-bottom: 0.25rem;
}

.analysis-container {
  font-family: 'Hind', sans-serif;
  margin-top:3px;
  margin-left:30px
}

.analysis-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}

#chart {
  height: 300px;
  grid-column: 1 / span 3;
}

.feedback {
  grid-column: 1 / span 4;
}

.issue-selector-container {
  font-family: 'Hind', sans-serif;
  background:rgb(222, 222, 223);
  border-radius: 8px;
}

.assigned-issues-container {
  margin-left: 60px;
}

.assigned-issues-title {
  margin-left: 60px;
}

.issue-desc-box {
  border: 1px solid black;
  border-style: dashed;
  width: 250px;
  background-color: white;
  border-radius: 5px;
}

.react-date-picker__button__input__input {
  min-width: calc(4px + 0.54em);
}

.submit-button {
  background-color: rgb(15, 200, 225); /* Green */
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}

.issue-progress-container {
  font-family: 'Hind', sans-serif;
  margin-left: 15px;
  background:rgb(222, 222, 223);
  border-radius: 8px;
}

.issues-progress-title {
  margin-left: 60px;
}
.issue-in-progress-entry {
  border: 1px solid black;
  margin: 5px;
}

.historical-trends-container {
  font-family: 'Hind', sans-serif;
  grid-column: 3 / span 2;
  margin-left: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  float: right;
  background-color: rgb(15, 200, 225);
  border: none;
  color: rgb(232, 234, 235);
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  border: 0.25px solid rgb(66, 65, 65);
  display: inline-block;
  margin-right: 15px;
  margin-top: 12px;
}

.header-title {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(242, 243, 246);
  display: inline-block;
  padding-top: 5px;
  margin-left: 15px;
}

.logo {
  border-radius: 8px;
  border: 0.25px solid rgb(66, 65, 65);
  display: inline-block;
  margin-left: 15px;
  margin-top: 6px;
}
